body {
    background-color: var(--bs-gray-100);
    user-select: none;
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}
.container {
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
}

.wheel-main {
    position: relative;
    display: inline-block;
}

#wheel-canvas {
    width: 500px;
    height: auto;
    max-width: 100%;
}

.spin {
    font: 1.5em/0 sans-serif;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: 20%;
    margin: -10%;
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 0 8px currentColor,0 0 15px 5px rgba(0,0,0,.6);
    border-radius: 50%;
    transition: transform .1s;
}

.spin::after {
    content: "";
    position: absolute;
    top: -17px;
    border: 10px solid transparent;
    border-bottom-color: currentColor;
    border-top: none;
}

.item-avatar {
    --length: 30px;
    width: var(--length);
    height: var(--length);
    object-fit: cover;
    margin-left: 10px;
    border-radius: 100%;
}

.modal-wrapper .modal-dialog {
    width: 400px;
    z-index: 100;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}

.modal-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
}

.nav-audio-select-group {
    height: 0;
    overflow: hidden;
    transition: all 0.25s linear;
}

#nav-audio-checkbox:checked ~ .nav-audio-select-group{
    height: 50px;
    padding: 10px 0;
}


@media screen and (max-width: 1023.98px) {
}

@media screen and (max-width: 767.98px) {
    #nav-audio-checkbox:checked ~ .nav-audio-select-group{
        height: 100px;
        padding: 10px 0;
    }
    
}


@media screen and (max-width: 576.98px) {
}

